.gameScreen-background {
    background-image:none;
    background-color: #000000de;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  .exit-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .story-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .user-interaction {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 60%;
    margin-right: 10px;
  }