.scenario-card {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  text-shadow: var(--text-shadow);
  padding: 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.scenario-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.scenario-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikale Zentrierung */
}

.scenario-content {
  flex-grow: 1; /* Nimmt den restlichen verfügbaren Platz ein */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
  background-color: var(--highlight-background-color);
  border-radius: var(--border-radius);
}

.scenario-actions {
  display: flex;
  justify-content: space-between;
}

.scenario-logo {
  width: 30px;
  height: 25px;
}


