

.stories-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--distance);
  padding: var(--distance);
}

.create-scenario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  padding: 1rem;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
}

.create-scenario h2 {
  align-self: flex-start;
  color: var(--primary-color);
}

.create-scenario input,
.create-scenario textarea {
  width: 100%;
  padding: 0.4rem;
  border-radius: var(--border-radius);
}

.create-scenario textarea {
  height: 100px;
}

.play{
  align-self: flex-end;
}

.stories-container {
  text-align: center;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
}

.scenarios-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:var(--distance);
  padding: var(--distance);
  border-radius: var(--border-radius);
  overflow: scroll;
  max-height: 50vh;
}

.scenarios-list::-webkit-scrollbar {
  display: none;
}

.scenarios-list {
  scrollbar-width: none;
}