.stories-background {
    background-image: url("/Images/1728686633118_6nfLx6Wm.png"); 
  }

  .stories-container{
    padding: 1rem;
    text-align: center;
  }
  .scenarios-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 1rem;
    border-radius: 1rem;
    overflow: scroll;
    max-height: 70vh;
  }