.content-section {
  max-width: 800px;
  height: 90%;
  background: var(--secondary-background-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  overflow: scroll;
}

.content-section::-webkit-scrollbar {
  display: none;
}

.content-section {
  scrollbar-width: none;
}

.team-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  width: 100px;
  margin: 0.3rem;
}

.profile-pic {
  margin: 10px auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}

.social-icons a {
  margin-top: 5px;
  text-decoration: none;
  color: var(--primary-color);
}

.social-icons a:first-child {
  color: var(--error-color);
}

.social-icons a:hover {
  color: var(--highlight-color);
}

.social-icons a:first-child:hover {
  color: var(--highlight-background-color);
}