.icon {
  fill: currentColor;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

.play,
.share,
.delete,
.save,
.heart,
.next,
.send,
.exit,
.save-pdf {
  color: var(--text-color);
}

.play:hover,
.share:hover,
.delete:hover,
.save:hover,
.heart:hover,
.next:hover,
.send:hover,
.exit:hover,
.save-pdf:hover {
  color: var(--highlight-color);
}

.exit{
  fill: none;
}