.user-info {
  text-align: center;
  width: 100%;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap:var(--distance);
  width: 100%;
  justify-content: center;
}

.an-abmelden-toggle-button {
  width: 150px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size-body);
  text-align: center;
}

.an-abmelden-toggle-button:hover {
  background-color: var(--secondary-color);
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.scenario-container {
  width: 100%;
  padding: var(--distance);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.content-container::-webkit-scrollbar{
  display: none;
}

.content-container {
  scrollbar-width: none;
}

.scenario {
  width: 100%;
  max-width: 700px;
  height: 130px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--highlight-background-color);
  color: var(--text-color);
}

.scenario-image {
  width: 140px;
  height: 130px;
  object-fit: cover;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.scenario-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
.scenario h4 {
  margin: auto;
}


.button-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}