.register-background {
    background-image: url("/Images/1728683881118_KA2tuR0f.png");
    padding: 1rem;
  box-sizing: border-box;
  }

  .register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 1rem;
    width: 60%;
    box-sizing: border-box;
  }
  
  .register-background h1 {
    margin: 0 0 0.5rem 0;
    font-size: 1.8em;
  }
  
  .register-background button {
    width: 90%;
    margin: 0.2rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .register-background button:hover {
    background-color: #0056b3;
  }
  
  form {
    width: 90%;
    margin: 0.5rem auto;
  }
  
  form div {
    margin-bottom: 0.5rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9em;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
  }